<p>
  <span style="float: left">
    <a href="{{site.baseurl}}/en/">About</a> |
    <a href="{{site.baseurl}}/en/Field work">Field work</a> |
    <a href="{{site.baseurl}}/en/Data work">Data work</a> |
    <a href="{{site.baseurl}}/en/Contact">Contact</a> 
  </span>
  <span style="float: right">
    {% if page.lang == "en" %}
      <strong>EN</strong> |
      <a href="{{ '/fr' | append: page.url | relative_url }}">FR</a>
    {% else %}
      <a href="{{ page.url | replace_first: '/fr', '' | relative_url }}">EN</a> |
      <strong>FR</strong>
    {% endif %}
  </span>
</p>

