---
---

@import "{{ site.theme }}";
.main-content {
  max-width: 90%;
}

.left-img {
  float: left;
  width: 500px;
  margin: 0px 20px 20px 0px;
  border-radius: 6px; /* optional */
}

.right-img {
  float: right;
  width: 500px;
  margin: 0px 0px 20px 20px;
  border-radius: 6px; /* optional */
}

.clear {
  clear: both;
}

.split-para      { display:block;}
.split-para span { display:block;float:right;width:50%;}
